<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='clientlib.cfpoc'}" />
<div>
    <section class="countries">
        <ul class="country-list">
        </ul>
    </section>
    <section class="states">
        <div id="backtocountries"></div>
        <ul class="state-list">
        </ul>
    </section>
    <section class="metros">
        <div id="backtostates"></div>
        <ul class="metro-list">
        </ul>
    </section>
</div>